In [1]:
import pandas as pd
import pymysql

In [6]:
raw_csv_data = pd.read_csv('locustgod.csv')

In [7]:
df = raw_csv_data.copy()
df

    1       Bident of Thassa  3.99
0   1      Blue Sun's Zenith  2.49
1   1             Brainstorm  0.79
2   1          Outpost Siege  0.35
3   1        Grixis Panorama  0.99
4   1           Thunderstaff  0.25
.. ..                    ...   ...
77  1  Elixir of Immortality  0.79
78  1           Izzet Locket  0.25
79  1    Everflowing Chalice  1.29
80  1          Blustersquall  0.25
81  1           Star Compass  0.99

[82 rows x 3 columns]

In [8]:

#df = df.drop(['Unnamed: 6', 'Unnamed: 7'], axis=1)
column_names = ['Owned','Name','Value'] #'Set','Rarity','Total']
df.columns = column_names
df.Name = df.Name.str.replace("[!@#$%^&*,/'-]", '')
#df.Value = df.Value.str.replace("[!@#$%^&*,/'-]", '')
#df.Total = df.Total.str.replace("[!@#$%^&*,/'-]", '')
df = df.drop_duplicates(subset=['Name'], keep='first') #,'Set'
df = df.dropna()
df = df.reset_index(drop=True)
df.Owned = df.Owned.astype(int)
df.Value = df.Value.astype(float)
#df.Total = df.Total.astype(float)
df

    Owned                   Name  Value
0       1       Blue Suns Zenith   2.49
1       1             Brainstorm   0.79
2       1          Outpost Siege   0.35
3       1        Grixis Panorama   0.99
4       1           Thunderstaff   0.25
..    ...                    ...    ...
77      1  Elixir of Immortality   0.79
78      1           Izzet Locket   0.25
79      1    Everflowing Chalice   1.29
80      1          Blustersquall   0.25
81      1           Star Compass   0.99

[82 rows x 3 columns]

In [9]:
send_it = df

In [10]:
send_it

    Owned                   Name  Value
0       1       Blue Suns Zenith   2.49
1       1             Brainstorm   0.79
2       1          Outpost Siege   0.35
3       1        Grixis Panorama   0.99
4       1           Thunderstaff   0.25
..    ...                    ...    ...
77      1  Elixir of Immortality   0.79
78      1           Izzet Locket   0.25
79      1    Everflowing Chalice   1.29
80      1          Blustersquall   0.25
81      1           Star Compass   0.99

[82 rows x 3 columns]

In [11]:
send_it.shape

(82, 3)

In [12]:
insert_query = 'INSERT INTO locustgod VALUES'
for i in range(send_it.shape[0]):
    insert_query += "('"
    
    for j in range(send_it.shape[1]):
        insert_query += str(send_it[send_it.columns.values[j]][i]) + "', '"
        
    insert_query = insert_query[:-3] + "),"
    
insert_query = insert_query[:-1] + ';'
insert_query

"INSERT INTO locustgod VALUES('1', 'Blue Suns Zenith', '2.49'),('1', 'Brainstorm', '0.79'),('1', 'Outpost Siege', '0.35'),('1', 'Grixis Panorama', '0.99'),('1', 'Thunderstaff', '0.25'),('1', 'Pull from Tomorrow', '3.49'),('1', 'Commit  Memory', '2.29'),('1', 'Whirlpool Warrior', '3.49'),('1', 'Reins of Power', '2.29'),('1', 'Breath of Fury', '3.99'),('1', 'Fateful Showdown', '0.29'),('1', 'Collective Defiance', '0.99'),('1', 'Diminishing Returns', '0.35'),('1', 'Forgotten Creation', '0.35'),('1', 'Fevered Visions', '1.49'),('1', 'Stroke of Genius', '3.99'),('1', 'Impact Tremors', '3.99'),('1', 'Domineering Will', '2.49'),('1', 'Sky Diamond', '0.25'),('1', 'Aetherspouts', '0.35'),('1', 'Illusionists Gambit', '3.49'),('1', 'Incendiary Command', '1.79'),('1', 'Izzet Cluestone', '0.25'),('1', 'Aetherize', '0.99'),('1', 'Shattered Perception', '0.25'),('1', 'Molten Psyche', '4.99'),('1', 'Gravitational Shift', '4.49'),('1', 'Keep Watch', '1.99'),('1', 'Magus of the Jar', '2.29'),('1', 'Neurok Stealthsuit', '1.29'),('1', 'Laquatuss Creativity', '0.25'),('1', 'Whirlpool Drake', '0.25'),('1', 'Whirlpool Rider', '0.25'),('1', 'Tolarian Winds', '0.79'),('1', 'Terminal Moraine', '1.49'),('1', 'Ensnare', '0.29'),('1', 'Flux', '0.25'),('1', 'Unwind', '0.79'),('1', 'Crucible of Worlds', '47.99'),('1', 'Windreader Sphinx', '0.25'),('1', 'Wayfarers Bauble', '2.99'),('1', 'Fire Diamond', '0.59'),('1', 'Khorvaths Fury', '2.29'),('1', 'Game Plan', '0.69'),('1', 'Warped Landscape', '0.49'),('1', 'Mind Stone', '1.49'),('1', 'Aether Gale', '1.29'),('1', 'Lightning Greaves', '10.99'),('1', 'Izzet Guildgate', '0.25'),('1', 'Highland Lake', '0.25'),('1', 'Aether Hub', '0.25'),('1', 'Trinket Mage', '0.29'),('1', 'Treasure Cruise', '0.35'),('1', 'Arcane Denial', '2.79'),('1', 'The Locust God', '4.49'),('1', 'Izzet Boilerworks', '0.25'),('1', 'Skullclamp', '12.99'),('1', 'Psychosis Crawler', '0.69'),('1', 'Izzet Signet', '0.99'),('1', 'NivMizzet the Firemind', '0.39'),('1', 'Magus of the Wheel', '0.99'),('1', 'Windfall', '4.99'),('1', 'Swiftwater Cliffs', '0.25'),('1', 'Hedron Archive', '0.29'),('1', 'Izzet Charm', '0.25'),('7', 'Mountain', '0.79'),('20', 'Island', '0.25'),('1', 'Evolving Wilds', '0.35'),('1', 'Terramorphic Expanse', '0.25'),('1', 'Read the Runes', '1.29'),('1', 'Mana Geyser', '1.49'),('1', 'Counterspell', '1.99'),('1', 'Chaos Warp', '2.29'),('1', 'Sol Ring', '6.99'),('1', 'Careful Consideration', '0.35'),('1', 'NivMizzet Parun', '3.99'),('1', 'ThousandYear Storm', '14.99'),('1', 'Elixir of Immortality', '0.79'),('1', 'Izzet Locket', '0.25'),('1', 'Everflowing Chalice', '1.29'),('1', 'Blustersquall', '0.25'),('1', 'Star Compass', '0.99');"

In [13]:
conn = pymysql.connect(database = 'magic', user = 'root', password = '')

In [14]:
cursor = conn.cursor()

In [15]:
cursor.execute(insert_query)

82

In [16]:
conn.commit()

In [17]:
conn.close()